<%= provide :title, t("home.title") %>
<%= content_for :view_specific_css do %>
  <%= stylesheet_link_tag "application", "static_page" %>
<% end %>
<div class="row padding-twenty">
  <div class="col-lg-12 text-center">
    <h1 class="home-title">Welcome to Framgia E-Learning System</h1>
    <% if !logged_in? %>
      <h5 class="text-center color-text margin-top-20">
        <%= t "home.inform" %>
      </h5>
    <% end %>
  </div>
</div>

